---
layout: page

title: Overview
description: Overview.

language: en
language_reference: overview

published: true
order: 1
---

<h2>
    Latest News
</h2>

{% include posts.html %}

<p> <a href="http://www.itmagazine.ch/Freeware/15454/Quick_Image_Comment.html">
        <img style="border: 0px currentColor;" src="../assets/images/SwissITMag_Top_Downloads.jpg"
            alt="SwissITMagazine Top Download" border="0" /></a> 
    <a title="QuickImageComment, Download bei heise"
        href="https://www.heise.de/download/product/quickimagecomment-88362">
        <img title="QuickImageComment, Download bei heise" src="../assets/images/heise_download_logo1.png"
            alt="QuickImageComment, Download bei heise" /></a>
    <script type="module" src="https://get.microsoft.com/badge/ms-store-badge.bundled.js"></script>
    <ms-store-badge productid="9PGFF2B2FBR8" window-mode="full" theme="auto" language="en-us" animation="off">
    </ms-store-badge>
</p>

<h1>Overview</h1>

{% capture my_include %}{% include_relative program-desc-en.md %}{% endcapture %}
{{ my_include | markdownify }}

<a>Further information in </a><a href="Usermanual.html">User manual</a>.