<footer class="footer">
  <hr width="100%" size="2" color="grey" noshade>
  {% if site.github.is_project_page %}
  <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
  {% endif %}
  <p>
    <a>&copy; Norbert Wagner 2024</a><br>
    <a>Hosted on GitHub Pages</a><br>
    <a>{{ snippets.sitecreated[page.language] }}</a><br>
    <a href="https://github.com/pages-themes/leap-day">pages-theme leap-day</a><br>
    <a href="https://github.com/ranbureand/multilingual-experiment">multilingual-experiment</a>
  </p>
</footer>