/*
Leap Day for GitHub Pages
by Matt Graham
*/

@import "normalize";
@import "fonts";
@import "rouge-base16-dark";

:root {
  --leftCol-width: 25%;
  --leftCol-left: 0px;
  --leftCol-margin-left: 0px;
}

body {
  font: 14px/22px Verdana, 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0 20px 0px;
  background: beige; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin: 0 0 10px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  color: black;
}

h3,
h4,
h5,
h6 {
  color: black;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

a:link,
span.MsoHyperlink {
  color: blue;
  text-decoration: none;

  &:hover {
    color: grey;
  }
}

a:visited,
span.MsoHyperlinkFollowed {
  color: blue;
  text-decoration: none;

  &:hover {
    color: grey;
  }
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-type: disc;
}

strong {
  font-weight: bold;
  color: #333;
}

section img {
  object-fit:contain;
}

// applies in layout screenshot
screenshot img {
  max-width: 100%;
}

code {
  font-family: Lucida Console, 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Terminal;
  font-size: 14px;
  color: dimgrey;
  margin: 0 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

header {
  padding: 25px 20px 20px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  text-align: center;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  min-height: 76px;

  h1 {
    font-family: Arial, 'Copse', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color: beige;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  h2 {
    font-family: Arial, 'Copse', "Helvetica Neue", Helvetica, sans-serif;
    color: beige;
    font-size: 20px;
    margin: 10px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  h3 {
    color: beige;
    text-align: left;
    font-size: 9px;
    margin: 0px;
  }

  p {
    color: beige;
    font-size: 18px;
    margin: 0px;
  }

  #logo {
    position: absolute;
    height: 48px;
    width: 48px;
    right: 53px;
    top: 0px;
    display: block;
    background: url(../images/QIC-48x48.png);
  }
}

section {
  // total width - left column - padding right and left - gap of 5px
  width: calc(100% - var(--leftCol-width) - 55px);
  left: var(--leftCol-width);
  padding: 30px 30px 50px 20px;
  margin-top: 120px;
  //margin: 120px 20px 50px 30px;
  position: fixed;
  top: 0px;
  overflow: auto;
  max-height: calc(100% - 205px);
  background: whitesmoke;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .09), inset 0px 0px 2px 2px rgba(255, 255, 255, .5), inset 0 0 5px 5px rgba(255, 255, 255, .4);
}

small {
  font-size: 12px;
}

// used to override settings contained in document to display
.navigation {
  li {
    padding-right: 15px;
  }

  a {
    font: 14px Verdana, 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: normal;
  }

  a:link,
  span.MsoHyperlink {
    color: black;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }

  a:visited,
  span.MsoHyperlinkFollowed {
    color: black;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }
}

.navpost {
  ul {
    margin-left: 0px;
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;

    // to indicate current selection
    .current {
      a {
        font-weight: bold;
      }
    }
  }

  a {
    font: 14px Verdana, 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: normal;
    text-align: left;
  }

  a:link,
  span.MsoHyperlink {
    color: black;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }

  a:visited,
  span.MsoHyperlinkFollowed {
    color: black;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }
}

navHead {
  width: var(--leftCol-width);
  position: fixed;
  top: 130px;
  left: var(--leftCol-left);
  margin-left: var(--leftCol-margin-left);
  text-align: right;
  padding-right: 15px;

  ul {
    list-style: none;
    list-style-image: none;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: -30px;

    li {
      line-height: 14px;

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: black;
        }

      }

      &.tag-h2 {

        +.tag-h1 {
          margin-top: 10px;
        }
      }
    }

    a {
      color: black;

      &:hover {
        color: grey;
      }
    }
  }
}

nav {
  width: var(--leftCol-width);
  position: fixed;
  top: 180px;
  left: var(--leftCol-left);
  margin-left: var(--leftCol-margin-left);
  text-align: right;
  overflow: auto;
  max-height: calc(100% - 290px);
  padding: 0px -15px 0px -15px;

  ul {
    list-style: none;
    list-style-image: none;
    font-size: 14px;
    line-height: 20px;
    margin-left: -30px;

    li {
      padding: 5px 0px;
      line-height: 14px;

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: black;
        }

      }

      &.tag-h2 {

        +.tag-h1 {
          margin-top: 10px;
        }
      }
    }

    a {
      color: black;

      &:hover {
        color: grey;
      }
    }

    // to indicate current selection
    .current {
      a {
        font-weight: bold;
      }
    }

    // .active {
    //   border-right:solid 4px #39C;
    //   padding-right:13px;
    // }
    // override styles from html-document created with MS-Word
    p.MsoToc1,
    li.MsoToc1,
    div.MsoToc1 {
      margin-left: 0px;
      text-align: left;
      padding-left: 60px;
      text-indent: -60px;
      padding-right: 15px;
    }

    p.MsoToc2,
    li.MsoToc2,
    div.MsoToc2 {
      margin-left: 0px;
      text-align: left;
      padding-left: 60px;
      text-indent: -60px;
      padding-right: 15px;
    }
  }
}

// used to override settings contained in document to display
.footer {

  p {
    font: 13px/16px Verdana, 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
  }

  a:link,
  span.MsoHyperlink {
    color: blue;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }

  a:visited,
  span.MsoHyperlinkFollowed {
    color: blue;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }
}


footer {
  width: var(--leftCol-width);
  position: fixed;
  left: var(leftCol-left);
  margin-left: var(--leftCol-margin-left);
  bottom: 10px;
  text-align: right;
  line-height: 16px;
}

@media print,
screen and (min-width: 1280px) {

  navHead {
    width: 320px;
  }

  nav {
    width: 320px;
  }

  footer {
    width: 320px;
  }

  section {
    width: 905px;
    left: 320px;
  }
}


@media print,
screen and (max-height: 680px) {

  nav {
    max-height: calc(100% - 190px);
  }

  footer {
    display: none;
  }
}